.new-todo {
    display: inline-block;
}

  * {
    font-family: 'Lato Regular Italic', sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 20px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    list-style: none;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  ul li:hover {
    background: #ddd;
  }
  .close {
    position: absolute;
    right: 0;
    padding-right: 6px;
  }

  .checked {
      position: absolute;
      left: 0;
      padding-left: 2px;
      padding-top: 1px;
  }

  .word {
      padding: 4px;
  }
